<!-- <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h1>Login</h1>
    <input type="email" formControlName="email" placeholder="Email" ngModel [email]="true" required><br>
    <input type="password" formControlName="password" placeholder="Password" required><br>
    <button type="submit" (click)="onSubmit()">Login</button>
</form> -->

<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h1>Login</h1>
    <input type="email" formControlName="email" placeholder="Email" required>
    <div
        *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
        <span style="color:red;">Invalid email</span>
    </div>
    <br>
    <input type="password" formControlName="password" placeholder="Password" required>
    <div
        *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
        <span style="color:red;">Invalid password</span>
    </div>
    <br>
    <button type="submit" (click)="onSubmit()" [disabled]="loginForm.invalid">Login</button>
</form>