h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 350px auto;
  padding: 80px;
  border: 2px solid #b2b4b2;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #b2b4b2;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #474747;
}
